.AccountList .viewport {
   -fx-background-color: transparent;
}

.AccountList .scroll-pane{
	-fx-background-color: rgba(255,255,255,0.5);
	-fx-background-width: 3px;
    -fx-border-color: rgba(0,0,0,0);
    -fx-border-radius: 5px;
	-fx-border-width: 3px;
}

.AccountList .AccountListBacking{
	-fx-background-color: rgba(0,0,0,0.4);
    -fx-spacing: 5;
	-fx-padding: 5 0 0 0;
}

.AccountList .button{
    -fx-text-fill: FFFFFF;
    -fx-background-color: firebrick;
    -fx-background-radius: 15 15 15 15 ;
    -fx-min-width: 252px;
    -fx-max-width: 252px;
    -fx-min-height: 59px;
    -fx-max-height: 59px;
    -fx-font-weight: bold ;
    -fx-font-size: 16 ;
}

.Title{
    -fx-min-width: 282px;
    -fx-max-width: 282px;
    -fx-min-height: 20px;
    -fx-max-height: 20px;
	-fx-background-color: rgba(255,255,255,0.5);
    -fx-font-weight: bold ;
	-fx-text-fill: #ffffff !important ;
	-fx-font-family: "System Bold" !important ;
	-fx-font-size: 20 !important ;
}