@font-face {
    font-family: "Minecrafter Alt";
    font-style: normal;
    font-weight: 400;
    src: url("../../Fonts/MinecrafterAlt.ttf");
}

.context-menu {
    -fx-content-display: right;
    -fx-background-color: #FFFAFA;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 4 4 4 4;
    -fx-opacity: 0.9;
}

.menu-item .label {
    -fx-font-size: 18px;
    -fx-padding: 6 6 6 6;
    -fx-text-fill: #696969;
}

.menu-item {
    -fx-padding: 0;
    -fx-pref-height: 30px;
}

.menu-item:focused {
    -fx-background-color: transparent;
}

.menu-item:hover {
    -fx-background-color: #EAECEF;
}

.menu-item:hover .label {
    -fx-text-fill: #DC143C;
}

.Title {
  -fx-background-color: linear-gradient(to bottom, #ae2929 75%, #595959);
}

.Title > * {
  -fx-font-family: 'Minecrafter Alt';
  -fx-fill: #f8f4ff !important;
  -fx-font-size: 34;
}

#PackListBG{
    -fx-background-color: linear-gradient(to top, #191919, #595959);
}

.scroll-pane, .scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.scroll-pane .v-box{
    -fx-opacity: 1;
    -fx-spacing: 3;
}

#ToolBarUpper{
    -fx-background-color: #303030;
    -fx-background-radius: 0 0 0 20;
}

#ToolBarLower{
    -fx-background-color: #303030;
    -fx-background-radius: 0 0 0 10;
}

.scroll-pane .button, #ToolBarUpper > .button{
    -fx-text-fill: FFFFFF;
    -fx-background-color: firebrick;
    -fx-padding: 0px 0px ;
    -fx-background-insets: 0px 0px;
    -fx-background-radius: 0 0 0 15 ;
    -fx-content-display: center ;
}

.scroll-pane .button{
	-fx-text-alignment: center;
	-fx-text-fill: #ffffff;
	-fx-font-family: "System Bold";
	-fx-font-size: 20;
    -fx-background-radius: 5 5 5 5 ;
    -fx-min-width: 278px;
    -fx-max-width: 278px;
    -fx-min-height: 50px;
    -fx-max-height: 50px;
}

.scroll-pane .button:hover, #ToolBarUpper > .button:hover, #ToolBarLower > .button:hover{
     -fx-background-color: #661313;
}

.scroll-pane .button:hover, .scroll-pane .button:selected, .scroll-pane .button:pressed, #ToolBarUpper > .button:hover, #ToolBarUpper > .button:selected, #ToolBarLower > .button:hover, #ToolBarLower > .button:selected{
     -fx-scale-y: 1.075;
     -fx-scale-x: 1.075;
}

.scroll-pane .button:pressed{
     -fx-background-color: #303030;
     -fx-text-fill: #FFF0F5;
}

.scroll-pane .button:selected {
     -fx-background-color: #FFF0F5 !important ;
     -fx-text-fill: black !important ;
}

#ToolBarUpper > .button:pressed, #ToolBarLower > .button:pressed {
     -fx-background-color: #FFF0F5;
     -fx-text-fill: black;
}

.tooltip, .PackList.tooltip{
    -fx-background-color: #404040;
    -fx-text-fill: #DCDCDC;
    -fx-opacity: 0.8;
    -fx-background-radius: 5.0;
    -fx-font-size: 14;

    -fx-content-display: right;
}

#ToolBarLower > .button{
    -fx-text-fill: FFFFFF;
    -fx-background-color: firebrick;
    -fx-padding: 0px 0px ;
    -fx-background-insets: 0px 0px;
    -fx-content-display: right ;
    -fx-background-radius: 5 0 0 5 ;
    -fx-content-display: GRAPHIC_ONLY ;
}

.text-field{
    -fx-background-radius: 15 0 0 0;
    -fx-opacity: 1;
}

.password-field{
    -fx-background-radius: 0 0 0 15;
}

#UsernameFlow{
    -fx-border-radius: 15 0 0 15;
    -fx-background-radius: 15 0 0 15;
    -fx-background-color: #FFFFFF;
    -fx-text-alignment: center ;
    -fx-opacity: 1;
}

.text-field:hover{
    -fx-background-color: #DDDDDD;
}
.text-field:focused{
    -fx-background-color: #FFFFFF;
}
.text-field:authenticated{
    -fx-background-color: #55AA55;
    -fx-text-fill: black !important ;
}

#PlayButton{
    -fx-border-radius: 00 15 15 00;
    -fx-background-radius: 00 15 15 00;
    -fx-opacity: 1;
    -fx-font-size: 13 ;
    -fx-font-weight: bold ;
    -fx-background-color: #BBBB44;
}
#LogoutButton{
    -fx-background-color: #FF8888;
    -fx-border-radius: 0 15 15 0;
    -fx-background-radius: 0 15 15 0;
}

#LogoutButton:hover{
    -fx-background-color: #DD6666;
    -fx-border-radius: 0 15 15 0;
    -fx-background-radius: 0 15 15 0;
}

#LogoutButton:pressed{
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.5 ), 3, 2, 1, 1 );
}

#PlayButton:authenticated{
    -fx-border-radius: 15 0 0 15;
    -fx-background-radius: 15 0 0 15;
    -fx-font-size: 16 ;
}

#PlayButton:hover{
    -fx-background-color: #999922;
}

#PlayButton:disabled{
    -fx-background-color: #aaaaaa;
}

#PlayButton:pressed{
    -fx-effect: innershadow( gaussian, rgba( 0, 0, 0, 0.5 ), 3, 2, 1, 1 );
    -fx-background-insets: 0;
    -fx-background-color: #008800;
    -fx-opacity: 1;
}

#PlayButton:focused{
    -fx-background-insets: 0;
    -fx-background-radius: 00 15 15 00;
    -fx-padding: 0;
    -fx-opacity: 1;
}

#LoginBar{
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 22 22 22 22;
    -fx-background-color: #9B1B30 ;
    -fx-opacity: 0.9;
}

#NotificationBox {
    -fx-background-color: rgba( 0% , 0% , 0%, 0.75 );
    -fx-font-size: 14 ;
    -fx-font-weight: bold ;
    -fx-text-fill:black;
    -fx-text-alignment: center ;
    -fx-padding: 7;
    -fx-background-insets: 2;
    -fx-background-radius: 5 5 5 5;
   -fx-text-fill:white;
}

.indicator{
    -fx-background-radius: 0 5 5 0 ;
    -fx-background-color: gray;

    -fx-width: 15;
    -fx-min-width: -fx-width;
    -fx-max-width: -fx-width;

    -fx-height: 50;
    -fx-min-height: -fx-height;
    -fx-max-height: -fx-height;

    -fx-translate-x: 131;
}

.indicator:installed{
    -fx-background-color: green;
}

.indicator:pinned{
    -fx-background-color: blue;
}

.indicator:repair{
    -fx-background-color: red;
}

.indicator:update{
    -fx-background-color: yellow;
}