@import url('https://fonts.googleapis.com/css?family=Oleo+Script')
@import url('https://fonts.googleapis.com/css?family=Bevan')
/*@import url('https://fontlibrary.org/face/minecraft')*/
  
@font-face {
    font-family: "Minecraft";
    font-style: normal;
    font-weight: 400;
    src: url("../Fonts/MinecraftRegularb.ttf");
}
	  
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../Fonts/OpenSans-Bold.ttf");
}

.body {
  -fx-background-color: linear-gradient(to bottom, #ae2929, #595959);
/*-fx-border-radius: 30;
-fx-border-width: 3;
-fx-border-color: #dcdcdc;
-fx-border-style: dotted;*/
}

#Title {
  /*-fx-font-family: 'Oleo Script';*/
  -fx-font-family: 'Minecraft';
  -fx-font-size: 34;
}