@import url('https://fonts.googleapis.com/css?family=Oleo+Script')
@import url('https://fonts.googleapis.com/css?family=Bevan')
/*@import url('https://fontlibrary.org/face/minecraft')*/

.body {
  -fx-background-color: linear-gradient(to bottom, #ae2929, #595959);
/*-fx-border-radius: 30;
-fx-border-width: 3;
-fx-border-color: #dcdcdc;
-fx-border-style: dotted;*/
}

.text {
  /*-fx-font-family: 'Oleo Script';*/
  -fx-font-family: 'Bevan';
  -fx-font-size: 34;
}