.progress-bar {

  -fx-background-color: #606060;
  -fx-background-radius: 5;

}

.progress-bar > .bar {
  -fx-padding: 1px;
  -fx-background-insets: 0;
}

.progress-bar > .track {
  -fx-text-box-border: #606060;
  -fx-control-inner-background: #606060;
}