.packlist.list-view {
    -fx-padding: 5px ;
    -fx-background-color: 9B1B30 ;
}

.packlist.list-cell:filled {
    -fx-background-color: firebrick;
    -fx-padding: 2px 10px ;
    -fx-background-insets: 2px 10px;
    -fx-background-radius: 5 ;
    -fx-content-display: right ;
}

.packlist.list-cell:empty {
    -fx-background-color: transparent ;
}

.packlist.list-cell:filled:hover {
     -fx-scale-y: 1.05;
     -fx-scale-x: 1.05;
     -fx-background-color: #3a3a3a;
}

.packlist.tooltip{
    -fx-background-color: linear-gradient(firebrick,black);
    -fx-opacity: 0.8;
    -fx-background-radius: 5.0;
}