.packlist{
    -fx-opacity: 1;
}

.packlist.list-view {
    -fx-padding: 5px ;
    -fx-background-color: #292929;
    /* -fx-opacity: 0.8; */
}

.packlist.list-cell:filled {
    -fx-cell-size: 50;
    -fx-background-color: firebrick;
    -fx-padding: 2px 10px ;
    -fx-background-insets: 2px 10px;
    -fx-background-radius: 5 ;
    -fx-content-display: right ;
}

.packlist.list-cell:empty {
    -fx-background-color: transparent ;
}

.packlist.list-cell:filled:hover, .packlist.list-cell:filled:selected{
     -fx-scale-y: 1.05;
     -fx-scale-x: 1.05;
}

.packlist.list-cell:filled:hover {
     -fx-background-color: #661313;
}

.packlist.list-cell:filled:selected {
     -fx-background-color: #FFF0F5;
     -fx-text-fill: black;
}

.packlist.list-cell:filled:pressed {
     -fx-background-color: #303030;
     -fx-text-fill: #FFF0F5;
}

.tooltip, .packlist.tooltip{
    -fx-background-color: #404040;
    -fx-text-fill: #DCDCDC;
    -fx-opacity: 0.8;
    -fx-background-radius: 5.0;
    -fx-font-size: 14;
    /* -fx-line-spacing: -5 ; Bugged*/
}