@import url('https://fonts.googleapis.com/css?family=Oleo+Script')
@import url('https://fonts.googleapis.com/css?family=Cairo')
@import url('https://fonts.googleapis.com/css?family=Russo+One')
/*///////////////////////////////////////////
// Makes the scrollbox background editable //
///////////////////////////////////////////*/
.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.inner {
    -fx-background-image: url('../../../Backgrounds/carbon.jpg') ;
	-fx-opacity: 1;
}

.button {
	-fx-background-color: #161616;
}

.title {
  -fx-font-family: 'Oleo Script';
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
  -fx-alignment: center;
}
.RamSettings .Header{
  -fx-font-family: 'Cairo';
	
}
.RamSettings .Value {
  -fx-text-fill: #FFFFFF;
  -fx-font-family: 'Cairo';
  -fx-font-weight: bold;
  -fx-text-alignment: center;
}
.SettingsScrollbox{
    -fx-background-image: url('../../../Backgrounds/metaldarkest.png') ;
}

.labels {
  -fx-font-family: 'Russo One';
}

.Directory{
    -fx-background-radius: 3 0 0 3 ;	
}

.text-field:hover{
    -fx-background-color: #DDDDDD;
}

.text-field:focused{
    -fx-background-color: #FFFFFF;
}

.DirectoryPicker{
    -fx-background-radius: 0 3 3 0 ;	
    -fx-background-color: #FFFFFF;
}

.DirectoryPicker:hover{
    -fx-background-radius: 0 3 3 0 ;	
    -fx-background-color: #DDDDDD;
}